p {
  color: #111111;
}

h1 {
  color: #111111;
}

h3 {
  background-color: #000;
  color:#fff;
}

nav a {
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
}

/* Home：黒背景・白文字 */
.nav-home {
  background-color: #000;
  color: #fff;
}

/* 『カッコウの巣立ち』：濃い青背景・白文字 */
.nav-kakosuda {
  background-color: #405d6c;
  color: #fff;
}

/* 楽曲集：黒背景・白文字 */
.nav-music {
  background-color: #000;
  color: #fff;
}

/* About：濃い青背景・白文字 */
.nav-about {
  background-color: #405d6c;
  color: #fff;
}

/* 新着情報：赤・白文字 */
.nav-newinfo {
  background-color: #ff3f2f;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;             /* ヘッダーの高さ */

  background-color: #000;
  z-index: 1000;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding-top: 80px;        /* ヘッダー分だけ下げる */
}

.download-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #222;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.download-button:hover {
  background-color: #444;
}

audio {
  width: 300px;
  margin: 10px 0;
}

.image-box img {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.color-set {
  color: #BA0C19;
}

.profile-box {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 40px auto;
  font-family: sans-serif;
}

/* 左：丸画像 */
.left img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%; /* ←丸くする */
}

/* 縦線 */
.divider {
  width: 2px;
  height: 280px;
  background-color: black;
  margin: 0 30px;
}

/* 右側 */
.right {
  flex: 1;
}

.right h2 {
  font-size: 28px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

/* 点線っぽい表現 */
.content p {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 12px 0;
}

.dropdown-btn {
  font-size: 18px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
}
