p {
  color: #111111;
}

nav a {
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
}

/* Home：黒背景・白文字 */
.nav-home {
  background-color: #000;
  color: #fff;
}

/* About：濃い青背景・白文字 */
.nav-about {
  background-color: #405d6c;
  color: #fff;
}

/* 楽曲集：黒背景・白文字 */
.nav-music {
  background-color: #000;
  color: #fff;
}

/* 『カッコウの巣立ち』：濃い青背景・白文字 */
.nav-kakosuda {
  background-color: #405d6c;
  color: #fff;
}

/* 新着情報：赤・白文字 */
.nav-newinfo {
  background-color: #ff3f2f;
  color: #fff;
}
