p {
  color: #111111;
}

nav a {
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
}

/* Home：黒背景・白文字 */
.nav-home {
  background-color: #000;
  color: #fff;
}

/* About：濃い青背景・白文字 */
.nav-about {
  background-color: #405d6c;
  color: #fff;
}

/* 楽曲集：黒背景・白文字 */
.nav-music {
  background-color: #000;
  color: #fff;
}

/* 『カッコウの巣立ち』：濃い青背景・白文字 */
.nav-kakosuda {
  background-color: #405d6c;
  color: #fff;
}

/* 新着情報：赤・白文字 */
.nav-newinfo {
  background-color: #ff3f2f;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;             /* ヘッダーの高さ */

  background-color: #000;
  z-index: 1000;
}

body {
  margin: 0;
  padding-top: 60px;        /* ヘッダー分だけ下げる */
}
